*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1080px){

}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color:grey;
}
.header-right{
  display: flex;
}
.header-right img{
  height:130px;
  width: 250px;
}
