*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
header{
  height: 100px;
  line-height: 100px;
}
li{
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
a{
  text-decoration: none;
  color:rgb(160,166,173);
  font-weight: 400;
}
a:hover{
  color:black;
  text-decoration: none;
  font-weight: 600;
}
.header-right{
  display: flex;
}
.header-right img{
  height:60px;
  width: 140px;
}
.header-left{
  display: flex;
  justify-content: flex-end;
}
.button{
  color: white;
  background-color: rgb(235, 0, 141);
  padding:10px 18px;
  border-radius: 20%;
  font-weight: 600;
}
.button:hover{
  opacity: 0.7;
  color: white;
}
.menu{
  background-color: blue;
  width:200px;
  display: none;
  position: absolute;
}
